body{
background-color: #ffffff;
position:relative;/*one of the tips to fix the white gap proplem*/
padding-bottom: 400px;/*one of the tips to fix the white gap proplem*/
min-height: 100vh;/*one of the tips to fix the white gap proplem*/
}
main{
  min-height: calc(100vh -400px - 85px);
}
header  {
    margin-top : -20px;
    
    height: 100px;
    margin-right: -12px;
    margin-left: -10px;
    
   

} 

.H-f{
    height: 200px;
    box-shadow: gray 1px 2px;
}
.navbar {
    overflow: hidden;
    background-color:white;
   
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
   
  }
  .navbar a{
    padding: 20px 60px;
  }
  /* footer{
    background-color: black;
    height: 400px;
    margin: -19px;
    bottom: 0px;
    display: block;
    
  
  } */

  /*-----------Footer design starts here--------------*/
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    height: 400px;
    background-color: #24262b;
      padding: 70px 0;
      position: absolute;/*one of the tips to fix the white gap proplem*/
      bottom: 0;/*one of the tips to fix the white gap proplem*/
      width: 100%;/*one of the tips to fix the white gap proplem*/

  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: rgb(255, 153, 0);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer .social-links.img{
    width: 20px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(80, 73, 73, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  span{
    color: rgb(255, 153, 0);
  }
  .footer.copyright{
    display: block;
  }
  .copyright{
    text-align: center;
    color:#ffffff ;
    padding-top: 50px;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }